*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;

}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main{
    border: 18px solid rgb(0, 242, 255);
    padding: 10px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.card{
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    width: 90px;
    justify-content: center;

}
.cardimage{
    width: 80%;
}
.foot{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin-top: 360px;
}